* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; 
}

body {
    box-sizing: border-box;
    background-color: #0F1020;
    color: #7353BA;
    margin: 0;
    padding: 36px;
}

.header {

    color:crimson;
    padding: 48px;
}

section {
    display: flex;
    flex-direction: row;
}

div {
    padding: 20px;
}

h3 {
    border-bottom: solid crimson 2px;

}

p {
    text-align: left;
    border-bottom: 1px solid #EFC3F5;
}

.text-container {
    background-color: #FEEBFF;
    border-radius: 5px 10%;
    margin: 20px auto;
    padding: 20px;
}